<p id="notice"><%= notice %></p>

<p>
  <strong>Actress:</strong>
  <%= @actress.actress %>
</p>


<% if @actress.twitter_url.present? %>
<p>
  <strong>Twitter website:</strong>
  <%= link_to @actress.twitter_url, @actress.twitter_url %>
</p>
<% end %>


<%= link_to 'Back', actresses_path %>
